[package]
name = "my_rust_lib"
version = "0.1.0"
edition = "2024"

[dependencies]
image = "0.25.9"


[lib]
# "cdylib" 给 C# 用 (生成 DLL)
# "rlib"   给 main.rs 用 (Rust 内部静态链接)
crate-type = ["cdylib", "rlib"]
path = "src/lib.rs"        # 默认就是 src/lib.rs，通常不用写